.main-banner {
    background-image: url(/Users/kiwibird/Desktop/Youcode-Project/images/banner.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-banner__button {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2vw 2.4vw;
    transition: 0.5s;
}
.main-banner__button:hover {
    background: black;
}